.graphContainer {
  width: 700px;
  height: 300px;
}

.productInfoContainer {
  text-align: center;
  margin: 5px 5px 5px 5px;
}

.productImageContainer{
  height: 200px;
  display: inline-block;
}
.productImage {
  height: 150px;
  padding: 10px 40px;
}
